<div class="banner">
  <div class="banner-content">
    <h1>Exotic Cocktails</h1>
    <a href="#cocktails" class="button">Let's have a drink!</a>
  </div>
</div>


<div class="cocktails-container" id="cocktails">

<% @cocktails.each do |cocktail| %>
    <h3> <%= cocktail.name %> </h3>
    <p> <%= link_to 'Show recipe', cocktail %> </p>
<% end %>
<br>
<%= link_to 'Create a new cocktail', new_cocktail_path, class: "btn btn-success btn-sm" %>
</div>
