// Specific CSS for your home-page
html {
  position: relative;
  min-height: 100%;
}

body {
  background: #141414;
  color: #EAE7E7;
  margin: 0 0 100px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

p {
  line-height: 1.7em;
}

.stronger-text {
  font-weight: 500;
}
.cocktails-container {
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.create-new {
  text-align: center;
}

.create-new h3 {
  font-family: 'Sacramento', cursive;
  font-size: 35px;
}
