// Specific CSS for your home-page
html {
  position: relative;
  min-height: 100%;
}

body {
  background: #24343E;
  color: white;
  margin: 0 0 100px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.cocktails-container {
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 20px;
}

.create-new {
  text-align: center;
}

.create-new h3 {
  font-family: 'Parisienne', cursive;
  font-size: 30px;
}
