.button-new {
  position: relative;
  cursor: pointer;
  display: inline-block;
  background: linear-gradient(180deg,#564664 0.5899705014749262%,#5b496a 49%,#52425f 51%,#2b2530 100%);
  border-radius: 5px;
  border: 1px solid #332448;
  border-width: 1px 1px 1px 1px;
  padding: 10px 30px 10px 30px;
  box-shadow: inset 0px 1px 0px #2E414D,0px 1px 3px rgba(0%,0%,0%,0.3);
  color: white;
  font-size: 20px;
  font-family: 'Parisienne', cursive;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4)
  }

  .button-new:hover {
    color: white;
    text-decoration: none;
    opacity: 0.95;
    font-size: 21px;
  }

.button-main {
  position: relative;
  cursor: pointer;
  display: inline-block;
  background: linear-gradient(180deg,#1B272E 0.5899705014749262%,#1B272E 49%,#1B272E 51%,#495A67 80%);
  border-radius: 5px;
  border: 1px solid #1A242B;
  border-width: 1px 1px 1px 1px;
  padding: 10px 30px 10px 30px;
  box-shadow: inset 0px 1px 0px #344957,0px 1px 3px rgba(0%,0%,0%,0.3);
  color: #F3F3F3;
  font-size: 20px;
  font-family: 'KoHo', sans-serif;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4)
  }

  .button-main:hover {
    color: white;
    text-decoration: none;
    opacity: 0.85;
  }
