.footer {
  background: #25343E;
  box-shadow: 0 -4px 5px 0 rgba(200, 200, 200,0.07),0 1px 0 0 rgba(200, 200, 200,0.03);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  color: #DDE2E4;
  font-size: 12px;
  opacity: 0.4;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 65px;
  width: 100%;
  overflow: hidden;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #DDE2E4;
  opacity: 0.4;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
}

.footer-links a:hover {
  color: #DDE2E4;
  opacity: 0.7;
}
