.footer {
  background: #181818;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  color: #AFAFAF;
  font-size: 12px;

  position: absolute;
  left: 0;
  bottom: 0;
  height: 65px;
  width: 100%;
  overflow: hidden;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #AFAFAF;
  opacity: 0.4;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
}

.footer-links a:hover {
  color: #AFAFAF;
  opacity: 0.7;
}

.footer-copyright {
  opacity: 0.6;
}
