<nav class="navbar navbar-fixed-top">
  <div class="container">
    <!-- Logo -->
    <a href="/" class="navbar-logo">
      <%= image_tag "/assets/drama-bar-logo.png"%>
    </a>

    <!-- Right Navigation -->
    <div class="navbar-right">
      <a href="" class="navbar-item navbar-link">About</a>
      <a href="" class="navbar-item navbar-link">Contact</a>
      <a href="" class="navbar-item navbar-link">Future</a>
    </div>
  </div>
</nav>
